#box{
    
    width: 200px;
    height:250px;
    margin-left: 35%;
    box-shadow: 0 0 10px 10px #efebeb ;
    border-radius: 8px;
    
}
H2{
    margin-left: 20%;
    position: relative;
    top: 2px;
    width: 190px;
    
    color: green;
}
.table{
    
    margin-top: 10%;
    margin-left: 18%;
  
    height: 90px;
    position: relative;
    top: -92px;
}

.txn1,.txn2,.txn3,.txn4,.txn5{
    height: 10px;
    font-size: xx-small;
    width: 130px;
    border: 1px solid lightgreen;
    border-radius: 2px;
  

}
.txn1:focus{
    outline: none;
    
    border: 1px solid  rgb(150, 147, 147);
     
}
.signIn{
    background-color: yellow;
    color: black;
    width: 130px;
    margin-left: 2%;
    border-radius: 8px;
    border: 2px;
    font-weight: bold;
}